version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: trainer_qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      # To zapewnia, że dane zostaną na dysku w folderze qdrant_storage
      - ./qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334